@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@layer resets {
    * {
        margin: 0;
        padding: 0;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

@layer colors {
    :root {
        --c-white: #FFFFFF;
        --c-orange-800: #FF9100;
        --c-red-400: #FC4C50;
        --c-blue-50: #E3F3FD;
        --c-blue-400: #44A9F8;
        --c-green-50: #DFF4F1;
        --c-green-300: #41BEAD;
        --c-grey-50: #F8F8F8;
        --c-grey-200: #E6E6E6;
        --c-grey-500: #919191;
        --c-grey-700: #565656;
    }
}

:root {
    --bs-dark: 0px 1px 4px 1px var(--c-grey-700);
    --bs-light: 0px 1px 4px 1px var(--c-grey-500);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* line-height: 1.5; */
}

.body {
    -webkit-font-smoothing: antialiased;
    background: var(--c-white);
}

header {
    box-shadow: var(--bs-dark);
    position: relative;
}

/* navigation menu*/
.nav__container,
.nav__logo,
.nav__links,
.nav__btn {
    display: flex;
}

.nav__container {
    margin: 0 auto;
    max-width: 1288px;
    height: 74px;
}

.nav__logo {
    align-items: center;
    gap: 1rem;
}

.nav__links {
    text-transform: uppercase;
    color: var(--c-grey-700);
    font-size: 0.8125rem;
    font-weight: 600;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.nav__links li a {
    flex-wrap: 1;
    transition: 500ms;

}

.nav__links li a:hover {
    color: var(--c-orange-800);
}

.nav__btn {
    justify-content: end;
    align-items: center;
    gap: 1.125rem;
    margin-left: 3rem;
}

.btn {
    border: none;
    text-transform: uppercase;
    color: var(--c-white);
    font-size: 0.8125rem;
    font-weight: 700;
    background: var(--c-orange-800);
    border-radius: 18px;
    padding: 0.625rem 1.375rem;
    box-shadow: var(--bs-light);

}

/* banner */
.banner {
    background: var(--c-orange-800);
    color: var(--c-white);
    text-align: center;
}

.banner div {
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 850px;
}

.banner h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    padding: 0 0 1.5rem 0;
}

.banner p {
    line-height: 1.25rem;
}

/* filter */

.filter {
    background-color: var(--c-grey-50);
    height: 92px;

}


/* footer */

footer {
    background: var(--c-grey-700);
    height: 312px;
    border-top: 12px solid var(--c-grey-500);
}


h3 {
    font-size: 1.125rem;
    padding-bottom: 1rem;
    color: var(--c-white);
}

footer ul {
    color: var(--c-grey-200);
}

.footer__wrapper {
    height: inherit;
    position: relative;
    max-width: 1288px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer--figure {
    position: absolute;
    bottom: 0px;
}

.footer__flex-wrapper {
    display: flex;
    margin-left: 300px;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
}

.footer__wrapper ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 170px;
}

.footer__links li {
    padding-bottom: 0.75rem;
    padding-right: 1.5rem;
}

.footer__links li a {
    transition: 500ms;

}

.footer__links li a:hover {
    color: var(--c-green-300);

}

.socials p {
    color: var(--c-grey-500);
}

.socials i {
    color: var(--c-grey-200);
    font-size: 1.75rem;
    padding: 0 1.875rem 3rem 0;
}

.socials i:hover {
    color: var(--c-green-300);
    cursor: pointer;
}