.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.pdf
*.docx
*.rar
*.zip
*.fig
.vscode/settings.json

node_modules/
package-lock.json
SWE-academy/Sirma-HTML-CSS-June-2025/06-Exam-Prep/Bulgaria Exam.fig
