<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->

    <!-- <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div> -->

    <div class="navigation">
        <nav>
            <img src="./images/logo.jpg">
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="#">Home</a></li>
                <li><a href="#">Blogs</a></li>
                <!--For guest users-->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <!--For loggin users-->
                <li><a href="#">Profile</a></li>
                <li><a href="#">Create Blog</a></li>
                <li><a href="#">Logout</a></li>

            </ul>
        </nav>
    </div>


    <main>
        <section id="create-container">
            <div class="create-container-info">
                <h1>Create Blog</h1>
                <form>
                    <label>Title:</label>
                    <input name="" type="text" id="title">

                    <label>Image:</label>
                    <input name="" type="text" id="image" placeholder="http://...">

                    <label>Content:</label>
                    <textarea id="content" name=""></textarea>

                    <label>Blog Category:</label>
                    <input name="" type="text" id="category">

                    <input type="submit" id="btn" value="POST">
                </form>
            </div>
        </section>
    </main>

    <footer>Back-End 2022</footer>

</body>

</html>