
<div class="container">
<div class="blog-message">
    <h1 id="site-title">Blog</h1>
    <h2 id="site-mid-title">Create your own world!</h2>
</div>
{{#if latestBlogs}}
<div class="last-blogs">
    {{#each latestBlogs}}
    <div class="info">
        <h2 class="title">{{title}}</h2>
        <h4 class="genre">{{category}}</h4>
        <div class="see-more">
            <a href="/posts/{{id}}/details">See More...</a>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
    <!--If there are still no blog posts on the database-->
    <article class="not-available-blogs">
        <h1>No blogs created yet.</h1>
    </article>
{{/if}}

