<main class="create">
    <!-- create Page (Only for logged-in users) -->
    <section id="create">
        <div class="form">
            <h2>create Myth or Legend</h2>
            <form class="create-form" method="POST">
                <input type="text" id="name" placeholder="Name" />
                <input type="text" id="origin" placeholder="Origin (e.g. Greek, Norse, Egyptian)" />
                <input type="text" id="role" placeholder="Role" />
                <input type="text" id="myth-img" placeholder="Image URL" />
                <input type="text" id="symbol" placeholder="Symbol / Attribute" />
                <input type="text" id="era" placeholder="Era or Period" />
                <textarea id="description" placeholder="Description..." name=""></textarea>
                <button type="submit">create</button>
            </form>

        </div>
    </section>
</main>