<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/styles.css" />
    <title>Dashboard Page</title>
</head>

<body>
    <div id="wrapper">
          <header>
            <!-- Navigation -->
            <nav>
                <div>
                    <a href="#">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Report</a>
                </div>

                <!-- Logged-in users -->
                <div class="user">
                    <a href="#">Add Myth</a>
                    <a href="#">Logout</a>
                </div>

                <!-- Guest users -->
                <div class="guest">
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                </div>
            </nav>
        </header>

   <main class="dashboard">
    <section id="dashboard">
        <h2>Myths and Legends</h2>
        <ul class="card-wrapper">
            <!-- Display a li with information about every post (if any)-->
            <li class="card">
                <img src="./static/images/anubis.webp"/>
                <p>
                    <strong>Name: </strong><span class="name">Anubis</span>
                </p>
                <p>
                    <strong>Origin: </strong><span class="origin">Egyptian Mythology</span>
                </p>
                <p>
                    <strong>Role: </strong><span class="role">God of the Dead </span>
                </p>
                <a class="details-btn" href="#">Details</a>
            </li>

            <li class="card">
                <img src="./static/images/thor.webp"/>
                <p>
                    <strong>Name: </strong><span class="name">Thor</span>
                </p>
                <p>
                    <strong>Origin: </strong><span class="origin">Norse Mythology</span>
                </p>
                <p>
                    <strong>Role: </strong><span class="role">God of Thunder and Storms</span>
                </p>
                <a class="details-btn" href="#">Details</a>
            </li>

            <li class="card">
                <img src="./static/images/zeus.webp"/>
                <p>
                    <strong>Name: </strong><span class="name">Zeus</span>
                </p>
                <p>
                    <strong>Origin: </strong><span class="origin">Greek Mythology</span>
                </p>
                <p>
                    <strong>Role: </strong><span class="role">King of the Gods</span>
                </p>
                <a class="details-btn" href="#">Details</a>
            </li>
        </ul>

        <!-- Display an h2 if there are no posts -->
        <!-- <div id="no-post">
            <h2>There are no myths and legends! </h2>
        </div> -->
    </section>
</main>


        <footer>SoftUni JS Back-End Exam 2025 &copy;</footer>
    </div>
</body>

</html>