<main class="details">
    <!-- Details page -->
    <section id="details">
        <div id="details-wrapper">
            <p id="details-title">Name: Thor</p>
            <div id="img-wrapper">
                <img src="/images/thor.webp" alt="Thor" />
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p>
                                Origin: <span id="details-origin">Norse Mythology</span>
                            </p>
                        </td>
                        <td>
                            <p>Role: <span id="details-role">God of Thunder and Storms</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Symbol / Attribute: <span id="details-symbol">Mjolnir (Hammer), Belt of
                                    Strength</span></p>
                        </td>
                        <td>
                            <p>Era: <span id="details-era">Viking Age Legends</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description:
                    <span id="details-description">
                        Thor is a hammer-wielding god associated with thunder, lightning, storms, oak trees,
                        strength,
                        the protection of mankind, and also hallowing and fertility. He is one of the most
                        important
                        figures in Norse mythology and a central character in many myths and sagas.
                    </span>
                </p>
            </div>

            <!--Edit and Delete are only for creator-->
            <div id="action-buttons">
                <a href="#" id="edit-btn">Edit</a>
                <a href="#" id="delete-btn">Delete</a>
                <a href="#" id="like-btn">Like</a>
                <p id="already-liked">You've already liked this legend!</p>
            </div>
        </div>
    </section>
</main>