<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/styles.css" />
    <title>Edit Page</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <!-- Navigation -->
             <nav>
                <div>
                    <a href="#">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Report</a>
                </div>

                <!-- Logged-in users -->
                <div class="user">
                    <a href="#">Add Myth</a>
                    <a href="#">Logout</a>
                </div>

                <!-- Guest users -->
                <div class="guest">
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                </div>
            </nav>
        </header>

        <main class="edit">
            <!-- Edit Page (Only for logged-in users) -->
            <section id="edit">
                <div class="form">
                    <h2>Edit Myth or Legend</h2>
                    <form class="edit-form">
                        <input type="text" id="name" placeholder="Name" value="Zeus" />
                        <input type="text" id="origin" placeholder="Origin (e.g. Greek, Norse, Egyptian)"
                            value="Greek Mythology" />
                        <input type="text" id="role" placeholder="Role" value="King of the Gods, God of the Sky" />
                        <input type="text" id="myth-img" placeholder="Image URL" value="./static/images/zeus.webp" />
                        <input type="text" id="symbol" placeholder="Symbol / Attribute" value="Thunderbolt, Eagle" />
                        <input type="text" id="era" placeholder="Era or Period" value="Classical Antiquity" />

                        <textarea id="description" placeholder="Description..." name="">Zeus is the chief deity in Greek mythology, ruler of Mount Olympus and god of the sky, thunder, and lightning. He is often depicted holding a thunderbolt and is known for maintaining order among gods and humans.
                        </textarea>
                        <button type="submit">Edit</button>
                    </form>

                </div>
            </section>
        </main>
    </div>
    <footer>SoftUni JS Back-End Exam 2025 &copy;</footer>
</body>

</html>