@layer colors {
    :root {
        --clr-white: #ffffff;
        --clr-grey-50: #f8f8f8;
        --clr-grey-400: #999999;
        --clr-grey-450: #989898;
        --clr-grey-500: #777777;
        --clr-grey-550: #727272;
        --clr-grey-600: #575153;
        --clr-grey-650: #454647;
        --clr-grey-700: #333333;
        --clr-grey-800: #222222;
        --clr-accent-green: #00c8c8;
    }
}

@layer resets {
    * {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
}

body {
    font-family: Montserrat, sans-serif;
}

.header__top-bar {
    height: 45px;
    background-color: var(--clr-grey-700);
}

/* .nav__main {
    display: flex;
} */

.nav__main__wrapper {
    max-width: 1780px;
    margin: 0 auto;
    display: flex;
    justify-content: end;

}

.nav__main__wrapper nav {
    flex-grow: 1;
}

.nav__links {
    display: flex;
    justify-content: end;
    gap: 55px;

}

.nav__search {
    display: flex;
    margin-left: 115px;

}